/* Global Reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid #000000; */
}

/* Variables */
:root {
	--font: 'Poppins', sans-serif;
	--white: #ffffff;
	--color-1: #fff4da;
	--color-2: #ffe5d8;
	--yellow: #ffe78e;
	--color-3: #f8c09d;
	--color-4: #ffa585;
	--color-5: #eb666b;
	--color-6: #766c8a;
	--black: #000000;
}

/* Base Styles */
html {
	font-family: var(--font);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	background: var(--color-2);
	color: var(--black);
}

/* App Styles */
.app {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	width: 300px;
	height: 700px;

	text-align: center;

	box-shadow: 0 0 10px 0 rgba(118, 108, 138, 0.8);

	margin: 1em;
	padding: 1em;

	border-radius: 1rem;

	background: var(--white);
}

.app__logo {
	height: 60px;
}

.app__input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 10rem;
	height: 4rem;

	font-family: var(--font);
	font-size: 1.4rem;
	font-weight: 600;
	text-align: center;
	color: var(--black);

	border: 2px solid var(--color-6);
	border-radius: 1rem;
	padding: 1em;
}

/* Hide number input arrows in Chrome */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Hide number input arrows in Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.app__units {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

/* Hide default radio buttons */
input[type='radio'] {
	display: none;
}

/* Style custom radio buttons */
input[type='radio'] + label {
	display: inline-block;
	position: relative;
	padding-left: 25px;
	cursor: pointer;
}

/* Style indicator dot */
input[type='radio'] + label:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: var(--color-6);
}

/* Style indicator dot when the radio button is checked */
input[type='radio']:checked + label:before {
	background: var(--color-4);
}

.app__button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 10rem;
	height: 4rem;

	font-family: var(--font);
	font-size: 1.4rem;
	font-weight: 600;
	text-align: center;
	color: var(--black);

	border: none;
	border-radius: 1rem;
	padding: 1em;

	background: var(--color-3);
}

.app__button:hover,
.app__button:focus {
	cursor: pointer;
	background-color: var(--color-4);
}

.app__output {
	font-weight: 600;
}

@media (max-width: 450px) {
	.app {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 2em;
		border-radius: 0;
	}
}

@media (max-height: 500px) {
	.app {
		width: 100%;
		height: 100%;
		margin: 0;
		border-radius: none;
	}
	.app__logo {
		height: 30px;
	}
	.app__title {
		font-size: 1.4rem;
	}
	.app__label {
		font-size: 0.8rem;
	}
	.app__input,
	.app__button {
		width: 8rem;
		height: 3rem;
	}
	.app__button {
		font-size: 1rem;
	}
	.app__output {
		font-size: 0.8rem;
	}
}
